<div class="ui divided two column grid">

    <div class="left column">
    	<div class="ui item">
    		<button class="mini ui green button" x-ng-click="execute('/ping')">Ping</button>
    		<button class="mini ui green button" x-ng-click="execute('/info')">Application Info</button>
    		<button class="mini ui green button" x-ng-click="execute('/sessions/properties')">Session Properties</button>
    	</div>
		<div class="ui green raised segment">
			<div class="ui inverted dimmer" x-ng-class="branchJsonClazz">
    			<div class="ui loader"></div>
  			</div>
			<div class="ui green left ribbon label">Create Branch Via JSON</div>
			<div class="ui form">
		  		<div class="field">
		    		<label>JSON File</label>
				    <select class="ui dropdown" x-sui-select 
				    	x-ng-model="branchJson" 
						x-ng-change="onBranchChange()"
						x-ng-options="item.name for item in branchsJson">
	      			</select>	
		  		</div>
				<div class="field">
		    		<textarea id="branchJson" x-ng-model="branchJson.json"></textarea>
		  		</div>
				<div class="field">
		    		<button class="fluid ui primary button"
		    			x-ng-click="saveMaster()">
		    			Save
		    		</button>
		  		</div>
			</div>
		</div>
    </div>
    
    <div class="right column">
    	<div class="ui item">
    		<button class="mini ui teal button" x-ng-click="execute('/system/reset')">Reset</button>
    		<button class="mini ui teal button" x-ng-click="execute('/system/clear')">Clear All</button>
    		<button class="mini ui teal button" x-ng-click="execute('/system/clearTransactions')">Clear Transactions</button>
    	</div>
    	<div class="ui teal raised segment">
    		<div class="ui teal right ribbon label">Response Message</div>
	    	<div class="ui item">
	    		<pre id="respMessage">{{message | json}}</pre>
	    	</div>
    	</div>
    </div>
    
</div>
