<html lang="en" class="no-js" x-ng-app="app" x-ng-csp x-ng-controller="rootController">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>BookShelf</title>

	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:400,300,600'>
	
	<link rel="stylesheet" href="../assets/skeleton/css/normalize.css">
	<link rel="stylesheet" href="../assets/skeleton/css/skeleton.css">
	<link rel="stylesheet" href="../assets/skeleton/css/custom.css">
	<link rel="stylesheet" href="../assets/colors.min.css">
	<link rel="stylesheet" href="../assets/fontawesome/css/font-awesome.min.css">

	<link rel="stylesheet" href="base.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body id="home" x-ng-clock>

<div class="container">
	
	<section class="jumptron">
		<h1>Book Shelf</h1>
    	<h4>A simple book store management system.</h4>
      	<a class="button button-ellipse" href="#features">
      		Learn More
      	</a>
      	&nbsp;&nbsp;&nbsp;&nbsp;
      	<a class="button button-primary button-ellipse" href="#signIn">
      		Sign In
      	</a>
      	<div class="value-props row">
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/feather.svg">
          		Light as a feather at ~400 lines &amp; built with mobile in mind.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/pens.svg">
          		Styles designed to be a starting point, not a UI framework.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/watch.svg">
          		Quick to start with zero compiling or installing necessary.
        	</div>
      	</div>
    </section>

	<div class="navbar-spacer"></div>

	<nav class="navbar">
		<div class="container">
			<ul class="navbar-list">
	       		<li class="navbar-item">
	       			<a class="navbar-link" href="">
	       				Book Shelf
	       			</a>
	       		</li>
          		<li class="navbar-item">
          			<a class="navbar-link" href="#home">
          				<i class="fa fa-home"></i> Home
          			</a>
          		</li>
				<li class="navbar-item">
					<a class="navbar-link" href="#features">Features</a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link" href="#about">About</a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link" href="#contact">Contact</a>
				</li>
				<li class="navbar-item-right">
					<a class="navbar-link" href="#signIn">
						<i class="fa fa-sign-in"></i> Sign In
					</a>
				</li>
        	</ul>
      </div>
    </nav>
   
</div>    

<section id="features" class="jumptron">
	<div class="container">
		<br/><br/><br/>
		<h1>Features</h1>
      	<div class="value-props row">
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/feather.svg">
          		Light as a feather at ~400 lines &amp; built with mobile in mind.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/pens.svg">
          		Styles designed to be a starting point, not a UI framework.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/watch.svg">
          		Quick to start with zero compiling or installing necessary.
        	</div>
      	</div>
	</div>
</section>

<hr class="hr-small"/>

<section id="about" class="jumptron">
	<div class="container">
		<br/><br/><br/>
		<h1>About</h1>
      	<div class="value-props row">
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/feather.svg">
          		Light as a feather at ~400 lines &amp; built with mobile in mind.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/pens.svg">
          		Styles designed to be a starting point, not a UI framework.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/watch.svg">
          		Quick to start with zero compiling or installing necessary.
        	</div>
      	</div>
	</div>      	
</section>

<hr class="hr-small"/>

<section id="contact" class="jumptron">
	<div class="container">
		<br/><br/><br/>
		<h1>Contact</h1>
      	<div class="value-props row">
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/feather.svg">
          		Light as a feather at ~400 lines &amp; built with mobile in mind.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/pens.svg">
          		Styles designed to be a starting point, not a UI framework.
        	</div>
        	<div class="four columns value-prop">
          		<img class="value-img" src="images/watch.svg">
          		Quick to start with zero compiling or installing necessary.
        	</div>
      	</div>
	</div>	
</section>

<hr class="hr-small"/>

<section id="signIn">
	<div class="container">
		<br/><br/><br/>
		<h1 class="text-center">Sign In</h1>
		<form>
		  	<div class="row">
		  		<div class="three columns">&nbsp;</div>
		  		<div class="six columns">
		  			<p id="respMessage"></p>
		      	</div>
		      	<div class="three columns">&nbsp;</div>		
		    </div>
		  	<div class="row">
		  		<div class="three columns">&nbsp;</div>
		  		<div class="six columns">
		      		<label for="userId"><i class="fa fa-user"></i> User Id</label>
		      		<input class="u-full-width" placeholder="User Id" id="userId"
		      			type="text" value="vteial"
		      			x-ng-model="user.userId">
		      	</div>
		      	<div class="three columns">&nbsp;</div>		
		    </div>
		  	<div class="row">
		  		<div class="three columns">&nbsp;</div>
		  		<div class="six columns">
		      		<label for="userId"><i class="fa fa-unlock"></i> Password</label>
		      		<input class="u-full-width" placeholder="Password" id="password"
		      			type="password"
		      			x-ng-model="user.password">
		      	</div>
		      	<div class="three columns">&nbsp;</div>		
		    </div>
		  	<div class="row">
		  		<div class="three columns">&nbsp;</div>
		  		<div class="six columns">
		  			<!-- 
		  			<button class="button button-primary pull-right" 
		  				onclick="signIn()">
      					<i class="fa fa-sign-in"></i> Sign In
      				</button>
      				-->
		  			<a class="button button-primary pull-right" 
		  				href="home.html">
      					<i class="fa fa-sign-in"></i> Sign In
      				</a>
		      	</div>
		      	<div class="three columns">&nbsp;</div>		
		    </div>
		</form>
	</div>
</section>

<hr class="hr-small"/>

<footer class="container">
	<div class="row">
		<div class="six columns">
			&copy; 2015 Book Shelf by <a target="_blank" href="http://www.wybis.com">Wybis India Pvt. Ltd.</a>
		</div>
		<div class="six columns">
			<span class="u-pull-right">
				<a href="" x-ng-click="viewSource()">Source</a>
				Version : <strong><small>0.0.1</small></strong>
			</span>
		</div>
	</div>	
</footer>
	
<script type="text/javascript" 
	src="../assets/jquery.min.js"></script>
<script type="text/javascript" 
	src="../assets/skeleton/js/skeleton.js"></script>
<script type="text/javascript" 
	src="modules/index.js"></script>    

</body>
</html>