<html lang="en" class="no-js" x-ng-app="app" x-ng-csp x-ng-controller="rootController">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Console</title>

	<link rel="stylesheet" href="assets/semantic-ui/semantic.min.css">
	<link rel="stylesheet" href="assets/ngNotify/ng-notify.min.css">

	<link rel="stylesheet" href="modules/base-d.css">
	<link rel="stylesheet" href="modules/console.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body x-ng-clock>

<div id="leftSideBar" class="ui left vertical sidebar menu" x-sui-sidebar>
	<div class="ui secondary segment">
    	<div class="item">
      		<h1>Console</h1>
    	</div>
    	<a class="item" href="#/home">Home</a>
    	<div class="item">
      		<b>System</b>
      		<div class="menu">
    			<a class="item" href="#/system/info">Info</a>
    			<a class="item" href="#/system/health">Health</a>
    			<a class="item" href="#/system/metrics">Metrics</a>
    			<a class="item" href="#/system/dump">Dump</a>
    			<a class="item" href="#/system/trace">Trace</a>
    			<a class="item" href="#/system/sessions">Sessions</a>
    		</div>
    	</div>	
    </div>
</div>

<div class="pusher">

	<nav class="ui fixed red inverted menu navbar page grid">
		<div class="ui left floated launch icon button">
        	<i class="sidebar icon"></i>
    	</div>
		<a class="item" href="console.html">Console</a>
		<a class="item" href="#/home">
			<i class="home icon"></i> Home
		</a>
		<a class="item" x-ng-click="execute('/ping')">
			Ping
		</a>
		<a class="item" x-ng-click="execute('/info')">
			Info
		</a>
		<a class="item" x-ng-click="execute('/sessions/properties')">
			Session Properties
		</a>
		<a class="item" x-ng-click="execute('/system/reset')">
			Reset
		</a>
		<a class="item" x-ng-click="execute('/system/clear')">
			Clear All
		</a>
		<a class="item" x-ng-click="execute('/system/clearTransactions')">
			Clear Transactions
		</a>
		
		<a href="http://localhost:8082/" target="_blank" class="right item">
			Database
		</a>
		<a href="index-m.html" target="_blank" class="right item">
			Tablet/Mobile
		</a>
		<a href="index-d.html" target="_blank" class="right item">
			Destop/Tablet
		</a>		
	</nav>

	<section id="pageBody" class="ui page grid">
		<x-ng-view></x-ng-view>
	</section>

	<div class="ui page grid three column">
	
		<div class="column left aligned">			
	   		&copy; 2015, <a href="http://www.wybis.com"><i class="icon-external-link"></i> Wybis India Pvt. Ltd.</a>
		</div>
	
		<div class="column center aligned">
			<a href="index-d.html">Home</a>
			&nbsp;&nbsp;
			<a href="" x-ng-click="viewSource()">Source</a>
			&nbsp;&nbsp;
			<a href="ui-bed.html">UI Bed</a>
		</div>
			
		<div class="column right aligned">	
			Version : <strong><small>0.0.1</small></strong>
		</div>
	
	</div>	
	
</div>


<script type="text/javascript"
	src="assets/is.min.js"></script>
<script type="text/javascript"
	src="assets/lodash.min.js"></script>
<script type="text/javascript" 
	src="assets/moment.min.js"></script>
<script type="text/javascript" 
	src="assets/jquery.min.js"></script>

<script type="text/javascript" 
	src="assets/semantic-ui/semantic.min.js"></script>

<script type="text/javascript"
	src="assets/angularjs/angular.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-route.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-sanitize.js"></script>

<script type="text/javascript" 
	src="assets/ngStorage.min.js"></script>
<script type="text/javascript" 
	src="assets/ngNotify/ng-notify.min.js"></script>

<script type="text/javascript" src="modules/init.js"></script>
<script type="text/javascript" src="modules/common.js"></script>
<script type="text/javascript" src="modules/semantic-ui.js"></script>
<script type="text/javascript" src="modules/wydNotify/wydNotifyByNgNotify.js"></script>

<script type="text/javascript" src="modules/console/home/controller.js"></script>
<script type="text/javascript" src="modules/console/system/controller.js"></script>

<script type="text/javascript" src="modules/directives.js"></script>

<script type="text/javascript" src="modules/console.js"></script>    

</body>
</html>