<html lang="en" class="no-js" x-ng-app="app" x-ng-csp x-ng-controller="rootController">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>WYS UI Bed</title>

	<link rel="stylesheet" href="assets/uikit/css/uikit.min.css">
	<link rel="stylesheet" href="assets/uikit/css/uikit.almost-flat.min.css">
 
	<link rel="stylesheet" href="assets/ngNotify/ng-notify.min.css">

	<link rel="stylesheet" href="modules/base-d.css">
	<link rel="stylesheet" href="modules/uikit.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body x-ng-clock>

	<nav id="navBar" class="uk-navbar uk-navbar-attached">
		<div class="uk-container uk-container-center">
			<a class="uk-navbar-brand" href="uikit.html">WYS UI Bed</a>
		</div>
	</nav>
			
	<section id="pageBody" class="uk-container uk-container-center">

		<div class="uk-grid uk-margin-top">

			<div class="uk-width-1-2">
				<button class="uk-button uk-button-primary" x-ng-click="info()">Info Alert</button>
				<button class="uk-button uk-button-success" x-ng-click="success()">Success Alert</button>
				<button class="uk-button uk-button-warning" x-ng-click="warning()">Warning Alert</button>
				<button class="uk-button uk-button-danger" x-ng-click="error()">Error Alert</button>
			</div>
			
			<div class="uk-width-1-2">
		    	<div class="uk-panel uk-panel-header uk-panel-box uk-panel-box-primary">
		    		<h3 class="uk-panel-title">Sign In</h3>
		    		<form class="uk-form uk-form-stacked">
			    		<div class="uk-form-row">
				    		<div class="uk-form-controls floating-label-wrapper">
			    			<label class="uk-form-label" for="userId"><small>User Id</small></label>
					        	<div class="uk-form-icon">
					    			<i class="uk-icon-user"></i>
						        	<input type="text" class="uk-form-width-large" placeholder="User Id"
									  	x-ng-model="user.userId" x-wyd-floating-label>
								</div>	  	
					     	</div>
				     	</div>	
			    		<div class="uk-form-row">
			    		    <label class="uk-form-label" for="password"><small>Password</small></label>
				    		<div class="uk-form-controls">
					        	<div class="uk-form-icon">
					    			<i class="uk-icon-unlock"></i>
						  			<input type="password" class="uk-form-width-large" placeholder="Password"
						  				x-ng-model="user.password">
						  		</div>		
					     	</div>
				     	</div>	
				     	<hr/>
			    		<div class="uk-form-row">
				    		<div class="uk-form-controls">
					    		<button class="uk-button uk-button-primary uk-align-center"
					    			x-ng-click="saveMaster()">
					    			Save
					    		</button>
					     	</div>
				     	</div>	
			     	</form>		
		    	</div>
			</div>

		</div>
		
		<div class="uk-grid">
			<div class="uk-width-1-2">
				<ul class="uk-tab" data-uk-tab="{connect:'#my-id'}">
		    		<li class="uk-active"><a href="">a</a></li>
		    		<li><a href="">B</a></li>
		    		<li><a href="">C</a></li>
				</ul>
			</div>	
		</div>
		
		<div id="my-id" class="uk-switcher">
			<div id="a">A</div>
			<div id="b">B</div>
			<div id="c">C</div>
		</div>

	</section>

	
<script type="text/javascript"
	src="assets/is.min.js"></script>
<script type="text/javascript"
	src="assets/lodash.min.js"></script>
<script type="text/javascript" 
	src="assets/moment.min.js"></script>
<script type="text/javascript" 
	src="assets/jquery.min.js"></script>

<script type="text/javascript" 
	src="assets/uikit/js/uikit.min.js"></script>
<script type="text/javascript" 
	src="assets/uikit/js/components/notify.js"></script>

<script type="text/javascript"
	src="assets/angularjs/angular.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-route.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-sanitize.js"></script>

<script type="text/javascript" 
	src="assets/ngStorage.min.js"></script>
<script type="text/javascript" 
	src="assets/ngNotify/ng-notify.min.js"></script>

<script type="text/javascript" src="modules/init.js"></script>
<script type="text/javascript" src="modules/wydNotify/wydNotifyByNgNotify.js"></script>
<!-- 
<script type="text/javascript" src="modules/wydNotify/wydNotifyByUiKit.js"></script>
-->

<script type="text/javascript" src="modules/common.js"></script>
<script type="text/javascript" src="modules/directives.js"></script>

<script type="text/javascript" src="modules/uikit.js"></script>    

</body>
</html>