<html lang="en" class="no-js" x-ng-app="app" x-ng-csp x-ng-controller="rootController">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>UI Bed</title>

	<link rel="stylesheet" href="assets/semantic-ui/semantic.min.css">
	<link rel="stylesheet" href="assets/ngNotify/ng-notify.min.css">

	<link rel="stylesheet" href="modules/base-d.css">
	<link rel="stylesheet" href="modules/ui-bed.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body x-ng-clock>

	<nav class="ui fixed red inverted menu navbar page grid">
		<a class="item" href="ui-bed.html">UI Bed</a>
	</nav>
	
	<section id="pageBody" class="ui page grid">
		<!-- 
		<x-ng-view></x-ng-view>
		-->
		<div class="two column row">
			<div class="column">
				<div class="ui segment center aligned">
					<button class="ui blue button" x-ng-click="info()">Info Alert</button>
					<button class="ui green button" x-ng-click="success()">Success Alert</button>
					<button class="ui orange button" x-ng-click="warning()">Warning Alert</button>
					<button class="ui red button" x-ng-click="error()">Error Alert</button>
				</div>
				<div class="ui small form segment error">
					<h4 class="ui dividing header">Sign In</h4>
					<div class="ui error message">
    					<div class="header">Action Forbidden</div>
    					<p>You can only sign up for an account once with a given e-mail address.</p>
 					 </div>
					<div class="field">
    					<label>User Id</label>
    					<div class="ui left icon corner labeled input">
			        		<input type="text" placeholder="User Id">
			        		<i class="user icon"></i>
							<div class="ui corner label">
								<i class="asterisk icon"></i>
							</div>			        		 
			        	</div>
  					</div>
					<div class="field">
    					<label>Password</label>
    					<div class="ui left icon corner labeled input">
				  			<input type="password" placeholder="Password">
			        		 <i class="user icon"></i>
							<div class="ui corner label">
								<i class="asterisk icon"></i>
							</div>			        		 
			        	</div>
  					</div>
					<a href="">Forget Password?</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="ui blue button">Sign In</button>
				</div>
			</div>
			<div class="column">
				<div class="ui top attached tabular menu" x-sui-tab>
				    <a class="active item" data-tab="first">First</a>
				    <a class="item" data-tab="second">Second</a>
				    <a class="item" data-tab="third">Third</a>
				</div>
				<div class="ui bottom attached active tab segment" data-tab="first">
				    First
				</div>
				<div class="ui bottom attached tab segment" data-tab="second">
				    Second
				</div>
				<div class="ui bottom attached tab segment" data-tab="third">
				    Third
				</div>
			</div>
		</div>
		
	</section>

	<div class="ui page grid three column">
	
		<div class="column left aligned">			
	   		&copy; 2015, <a href="http://www.wybis.com"><i class="icon-external-link"></i> Wybis India Pvt. Ltd.</a>
		</div>
	
		<div class="column center aligned">
			<a href="index-d.html">Home</a>
			&nbsp;&nbsp;
			<a href="" x-ng-click="viewSource()">Source</a>
			&nbsp;&nbsp;
			<a href="console.html">Console</a>
		</div>
			
		<div class="column right aligned">	
			Version : <strong><small>0.0.1</small></strong>
		</div>
	
	</div>
			 
<script type="text/javascript"
	src="assets/is.min.js"></script>
<script type="text/javascript"
	src="assets/lodash.min.js"></script>
<script type="text/javascript" 
	src="assets/moment.min.js"></script>
<script type="text/javascript" 
	src="assets/jquery.min.js"></script>

<script type="text/javascript" 
	src="assets/semantic-ui/semantic.min.js"></script>

<script type="text/javascript"
	src="assets/angularjs/angular.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-route.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-sanitize.js"></script>

<script type="text/javascript" 
	src="assets/ngStorage.min.js"></script>
<script type="text/javascript" 
	src="assets/ngNotify/ng-notify.min.js"></script>

<script type="text/javascript" src="modules/init.js"></script>
<script type="text/javascript" src="modules/common.js"></script>
<script type="text/javascript" src="modules/semantic-ui.js"></script>
<script type="text/javascript" src="modules/wydNotify/wydNotifyByNgNotify.js"></script>
<!-- 
<script type="text/javascript" src="modules/wydNotify/wydNotifyBySemanticUi.js"></script>
-->

<script type="text/javascript" src="modules/directives.js"></script>

<script type="text/javascript" src="modules/ui-bed.js"></script>    

</body>
</html>